.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;
}
.title {
  margin: 2rem;
}
.form {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form input {
  width: 279px;
  height: 30px;
  padding: 7px;
  border: 1px solid #074f71;
  border-radius: 5px 0 5px 0;
}

span {
  font-size: 13px;
  color: red;
  display: none;
}
.form div:first-child {
  margin-bottom: 1.3rem;
}
input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span {
  display: block;
  position: absolute;
}
button:disabled {
  color: rgba(69, 66, 66, 0.489);
  background: rgb(185, 172, 172);
}
button:not(disabled) {
  color: #074f71;
  font-weight: bold;
  background: #f8b133;
}

.link {
  margin-top: 40px;
  background-color: rgba(119, 119, 119, 0.278);
  padding: 10px;
}
.link a {
  text-decoration: none;
}

.link__copyButton {
  margin: 5px;
}
