.navbar {
  background: #074f71;
  height: 160px;
  width: 100%;
}
.container {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.087);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo img {
  padding: 20px;
  height: 80px;
}
.buttons {
  align-items: center;
  text-align: center;
}
.buttons a {
  text-decoration: none;
}

.item {
  color: #074f71;
  background: #f8b133;
  margin: 10px;
  font-size: 20px;
  border-radius: 100px;
  padding: 15px;
  font-weight: bold;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}
.item:hover {
  color: #f8b133;
  background: #074f71;
  border: 2px solid #f8b133;
  padding: 13px;
}

@media all and (max-width: 600px) {
  .navbar {
    height: 80px;
  }

  .logo img {
    height: 40px;
  }
  .item {
    font-size: 16px;
  }
}
@media all and (max-width: 426px) {
  .navbar {
    height: 80px;
  }

  .logo img {
    height: 30px;
  }
  .item {
    font-size: 13px;
    padding: 10px;
  }
  .item:hover {
    padding: 9px;
    border: 1px solid #f8b133;
  }
}
